* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1 {
    color: white;
}

#border {
    background-color: red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    font-size: large;
    font-weight: bold;
}

#reset {
    margin: 0 2% 0 25%;
    padding: 3px 15px;
}

#rainbow {
    margin-right: 2%;
    padding: 3px 10px;
}

#container {
    background-color: darkgray;
    height: 1000px;
    width: 1000px;
    margin: 100px 100px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
}

.cell {
    background-color: darkgrey;
    border: 1px solid black;

}

.etch {
    background-color: black;
} 